*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elemento base */

.card {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

.card-img-top {
    padding: 7px;
}

.card-text{
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-text-destaque{
    font-family: Blippo, fantasy;
    text-align: end;
}
