.card{
    margin-bottom: 10px;
}

.card-text{
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-text-destaque{
    font-family: Blippo, fantasy;
    text-align: end;
}
